.App {
  text-align: center;
  background-color: rgb(100, 65, 164);
  background-size: auto;
  background-position: static;
  overflow: inherit;
  
}

body{
  background-color: rgb(100, 65, 164);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  background-color: rgb(27, 28, 29);
}





.main-logo{
  height: 200px;
  width: 200px;
}

img{
  height: 300px;
  width: 300px;
  border-radius: 10px;
}




